$font-color: rgb(97, 97, 97);

body, * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // background-color: darkcyan;
  background: rgb(0,106,106);
  background: linear-gradient(125deg, rgba(0,106,106,1) 0%, rgba(0,139,139,1) 50%, rgba(0,106,106,1) 100%);
  // background-color: orange;
  min-height: 100vh;
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  margin: 0;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

  a {
    text-decoration: none;
    color: inherit;
  }
  
  .menu-items {
    display: flex;
    align-items: center;
    gap: 15px;
    h3 {
    font-weight: 400;
    }
  }
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.sobre {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  .container-modal {
    height: 70%;
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 5%;
    overflow: auto;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3),
    0 50px 35px -35px rgba(0,0,0,0.4),
    0 90px 55px -95px rgba(0,0,0,0.5);

    h1 {
      margin-bottom: 20px;
    }

  }
}

@mixin container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: white;
  color: $font-color;
  width: 400px;
  height: 300px;
  max-width: 500px;
  max-height: 400px;
  margin: auto;
  margin-top: 40px;
  // padding: 25px 150px;
  border-radius: 9px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2),
              0 50px 35px -35px rgba(0,0,0,0.25),
              0 90px 55px -95px rgba(0,0,0,0.3);
 
  h2 {
    width: 230px;
    padding: 20px 0;
    letter-spacing: 1.6px;
    font-size: 1.3rem;
  }              

}

.pomodoro {

  @include container-box;

  
  h1 {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }



  h3 {
    width: 250px;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1.6px;
  }

  .counter-container {
    display: flex;
    
    .space{
      width: 12px;
    }
    .umfoco {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      border: 1px solid $font-color;
      background-color: transparent;
      margin-top: 21px;
      margin-right: 5px;
      &.concluido {
      background-color: $font-color;
      }
      &.atual {
        border: 1px solid $font-color;
        // background-color: orange;
      }
    }
  
  }
  .play-pause {
    margin-top: 30px;
    font-size: 40px;
  }
}


.tasks-container {
  @include container-box;

  height: auto;
  min-height: 300px;


  .task-list {
    width: 90%;
    // margin-left: 50px;
    text-align: left;
    overflow: auto;
    padding: 0 10px 10px 5px;

    .delete-btn {
      cursor: pointer;
      margin-top: 1px;

      &:hover{
        color: red;
      }
    }
    
    h3 {
      
      font-weight: 400;
      font-size: 0.9rem;
      letter-spacing: 1.1px;
    }

    .task-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      // margin-bottom: 7px;
      padding: 5px 7px;
      // background-color: rgba(184, 184, 184, 0.1);
      // border: 1px solid rgba(29, 56, 78, 0.1);
      border-top: 1px solid rgba(29, 56, 78, 0.1);
      
      // border-radius: 5px;
      // box-shadow: 1px 1px 0px rgba(128, 128, 128, 0.3);
      

      .task {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        font-size: 0.9rem;

        .completed {
          color: rgb(180, 180, 180);
          text-decoration: line-through;
        }
      }
    }
  }
}

.addtask-form{
  @extend .task-item;
  justify-content: left;
  
  

  .addtask-btn {
    background-color: white;
    border: none;
    color: $font-color;
    font-size: 0.9rem;
    padding: 0;
    margin: 0px;
    height: 15px;
    cursor: pointer;
     
  }

  .addtask-input {
    width: 310px;
    border: none;
    color: $font-color;
    font-size: 0.9rem;
    height: 22px;
    


    &:focus {
      outline: none;
    }


  }
}


.footer {
  color: white;
  margin: 15px;
}
