$font-color: rgb(97, 97, 97);

body, * {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // background-color: darkcyan;
  background: rgb(0,106,106);
  background: linear-gradient(125deg, rgba(0,106,106,1) 0%, rgba(0,139,139,1) 50%, rgba(0,106,106,1) 100%);
  // background-color: orange;
  min-height: 100vh;
}

.navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  
}
.menu-items > h3 {
  font-weight: 400;
}


.pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  margin-top: 70px;
  background-color: white;
  color: $font-color;
  width: 400px;
  height: 300px;
  max-width: 500px;
  max-height: 400px;
  margin: auto;
  padding: 50px 150px;
  border-radius: 9px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2),
              0 50px 35px -35px rgba(0,0,0,0.25),
              0 90px 55px -95px rgba(0,0,0,0.3);

  
  h1 {
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1.6px;
  }

  .counter-container {
    display: flex;
    .space{
      width: 12px;
    }
    .umfoco {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      border: 1px solid lightgray;
      background-color: transparent;
      margin-top: 21px;
      margin-right: 5px;
      &.concluido {
      border: 1px solid $font-color;
      background-color: $font-color;
      }
      &.atual {
        border: 1px solid $font-color;
        // background-color: orange;
      }
    }
  
  }
  .play-pause {
    margin-top: 30px;
    font-size: 40px;
  }
}


